@charset "UTF-8";

* {
    margin: 0;
    padding: 0; 
    max-width: 100%;
    box-sizing: border-box;
}

/* body {
   height: 100vh; 
} */

.interface {
    max-width: 1900px;
    margin: 0 auto;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 2px;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}

header a:hover {
    color: #808080;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    cursor: pointer;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #808080;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.texto-nome {
    font-size: 15em;
    align-items: center;
    margin-top: 140px;
    margin-left: 15vh;
}

.imagem {
    margin-left: 5vh; /* Espaço entre o texto e a imagem */
}

#frase-header {
    display: block;
    font-size: 35px;
    margin-top: 90px;
    margin-left: 20vh;
}

#frase-header-2 {
    display: none;
}

.container-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.texto-quem-sou {
    font-size: 80px;
    /* margin-left: 20vh; */
    margin-top: 10px;
}

.imagem2 {
    height: 375.5px;
    padding-left: 100px;    
}

#frase2 {
    width: 500px;
    height: 100px;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 400px;
    
}

#frase2-responsivo {
    display: none;
}

/* CARROSSEL */

.container-3 {
    margin-top: 800px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.carousel {
    margin-top: 100px;
    width: 700px;
    height: 700px;
    position: relative;
    border: solid 10px #000;

}

.casousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
}

.arrow {
    border: solid #fff;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
}

.prev {
    top: 50%;
    left: 30px;
    position: absolute;
    transform: translateY(-50%) rotate(135deg);
}

.next {
    top: 50%;
    right: 30px;
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url("img/chadebebe/imagem-chadebebe3.jpg");
    background-size: cover;
}

.item-2 {
    background: url("img/chadebebe/imagem-chadebebe2.jpg");
    background-size: cover;
}

.item-3 {
    background: url("img/chadebebe/imagem-chadebebe1.jpg");
    background-size: cover;
}

*:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}






@media only screen and (max-width: 600px) {
    .container {
        display: inline;
        align-items: center;
        /* display: flex;
        flex-direction: column; */
    }

    .texto-nome {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 5em;
        width: 100%; 
    }
    
    .imagem {
        height: 50vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
    #frase-header {
        display: none;
        font-size: 0.2em;
    }

    #frase-header-2 {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .container-2 {
        display: inline;
        align-items: center;

        /* display: flex;
        flex-direction: column;
        align-items: center; */

    }

    .texto-quem-sou {
        font-size: 2.5em;
        margin-top: 10px;
        margin-left: 30px;
        padding-bottom: 5px;
    }

    .imagem2 {
        padding-left: 55px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
    }


    .imagem2 > img{
        height: 50vh;
    
    }

    #frase2 {
        display: none;
        
    }

    #frase2-responsivo {
        display: flex;
        width: 300px;
        height: 100px;
        font-size: 20px;
        padding-left: 30px;
       
    }

    #frase2-responsivo p {
        padding-top: 4vh;
    }

    .container-3 {
        display: none;
        margin-top: 120px;
        height: 420px;
    }

    .carousel {
        width: 280px;
        height: 280px;
    }

    .interface {
        display: none;
    }

    

}





/* <div class="casousel-item item-4">
                    <a href="#item-6" class="prev2 arrow2"></a>
                    <a href="#item-5" class="next2 arrow2"></a>
                </div>
                <div class="casousel-item item-5">
                    <a href="#item-4" class="prev2 arrow2"></a>
                    <a href="#item-6" class="next2 arrow2"></a>
                </div>
                <div class="casousel-item item-6">
                    <a href="#item-5" class="prev2 arrow2"></a>
                    <a href="#item-4" class="next2 arrow2"></a>
                </div>




                .arrow2 {
                    border: solid #fff;
                    border-width: 0 6px 6px 0;
                    display: inline-block;
                    padding: 15px;
                }
                
                .prev2 {
                    top: 50%;
                    left: 20px;
                    position: absolute;
                    transform: translateY(-50%) rotate(135deg);
                }
                
                .next2 {
                    top: 50%;
                    right: 20px;
                    position: absolute;
                    transform: translateY(-50%) rotate(-45deg);
                } */