/* [4]   Conteúdo 2 - Quem sou eu*/

.container__2 {
    /*background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1700px;
    /* margin-top: 70px;
    margin-bottom: 100px; */
    padding-bottom: 120px;

}

.container__2 .imagem3{
    width: 30vw;
    margin-right: 50px;
    /* height: auto; */
}

.container__2 .textos {
    align-items: center;
}

.container__2 .textos h2 {
    /* font-size: 2vw; */
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}

.container__2 .textos p {
    font-size: 22px;
    width: 400px;
}


/* [5]   Conteúdo 3 - Meus Trabalhos */

#titulo__2 {
    font-size: 60px;
    /* margin-left: 12vw; */
    text-align: center;
    font-weight: 500;
}

.fotos__3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1700px;
    padding-bottom: 50px;
}

.fotos__3 img {
    height: 350px;

}

/* .fotos__3 img:hover {
    height: 320px;
    transform: scale(1.05);
} */