/*****************************/
/*    [1] Estilos gerais
/*****************************/

/* *,
*::before,
*::after {
	box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

img {
	max-width: 100%;
	display: block;
}

/*****************************/
/*    [2]      Menu
/*****************************/

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    /* background-color: aqua; */
    /* box-shadow: 0px 3px 10px rgba(#0000); */
}

.container__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}

.nav__logo {
    margin: 10px;
    display: flex;
    align-items: center;
}

.nav__list2 ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: right;
    /* flex-wrap: wrap; */
    /* cursor: pointer; */
}

.nav__list2 li {
    display: flex;
    align-items: center;
    
}

.nav__link2  {
    color: #000;
    text-decoration: none;
    padding: 0 40px;
    display: inline-block;
    /* padding: 20px 10px; */
    /* transition: .2s; */
}

.nav__link2:hover {
    color: #808080;
    transform: scale(1.05);
}

.nav__contato button {
    margin: 10px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    /* transition: .5s; */
}

.nav__contato button:hover {
    box-shadow: 0px 0px 8px #808080;
    transform: scale(1.05);
}

.nav__icon {
    display: none;
}

.nav__mobile {
    display: none;
}

/*****************************/
/*    [3]   Conteúdo 1
/*****************************/

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    max-width: 1700px;
    margin: 0 auto;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* width: 100vw;
    height: 100vh; */
    /* background-color: bisque; */
}

.cabecalho .imagem {
    /* pra ficar imagem pequena */
    width: 50vw;
    height: auto;
    /* max-width: 70%;
    height: auto; */
}

.texto__nome {
    font-size: 9vw;
    margin-top: 10vw;
    margin-left: 9vw;
    margin-bottom: 5vw;
}


#texto__frase {
    font-size: 2vw;
    margin-left: 9vw;
    /* margin-bottom: 10px; */
}

#texto__fraseMobile {
    display: none;
    justify-content: center;
}

/*****************************/
/*    [4]   Conteúdo 2
/*****************************/

.container__2 {
    /*background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1700px;
    /* margin-top: 70px;
    margin-bottom: 100px; */
    padding-bottom: 120px;

}

.container__2 .imagem3{
    width: 30vw;
    margin-right: 50px;
    /* height: auto; */
}

.container__2 .textos {
    align-items: center;
}

.container__2 .textos h2 {
    /* font-size: 2vw; */
    font-size: 30px;
    margin-bottom: 10px;
}

.container__2 .textos p {
    font-size: 22px;
    width: 400px;
}




@media only screen and (max-width: 750px) {
    .container__menu {
        display: none;
    }

    .cabecalho {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .nav__logo {
        margin: 10px;
        display: flex;
        align-items: center;

        width: 70px;
    }

    .container__nav {
        padding: 1.rem 4rem;
        height: 70px;
    }

    .nav__list2 {
        display: none;
    }

    .nav__contato {
        display: none;
    }

    .nav__icon {
        display: block;
        padding-right: 20px;
        
    }

    .nav__icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .nav__mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding-left: 0;
    }

    .nav__mobile .nav__link {
        color: #000;
        text-decoration: none;
    }


    .nav__mobile .nav__item {
        display: block;
        padding-top: 1.2rem;
    }

    .nav__link:hover {
        color: #808080;
        font-size: 22px;
        transform: scale(1.05);
    }

    .nav__mobile .nav__contato {
        display: block;
        text-align: center;
    }

    .open {
        display: block;
    }
    
    .texto__nome {
        font-size: 20vw;
        margin-top: 1vw;
        margin-left: 15vw;
        margin-bottom: 0px;
        padding-top: 50px;
    }

    #texto__frase {
        display: none;
    }

    .cabecalho .imagem {
        margin-left: 6vh;
        width: 80vw;
        height: auto;
    }

    #texto__fraseMobile {
        font-size: 5vw;
        padding-bottom: 100px;

    }

    .container__2 {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .container__2 .imagem3{
        width: 50vw;
        margin: 0;
        
    }

    .container__2 .textos p{
        align-items: center;
        text-align: center;
        width: 300px;

    }
    
}